# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# TypeScript / Node
node_modules/
*.js               

# VS Code
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Project specific
exhibits.json